<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20" />
  <add key="Maxpage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="SMTPPort" value="587" />
  <add key="FromEmailAddress" value="demoaz.cntt@gmail.com" />
  <add key="FromEmailPassword" value="@01678921425" />
  <add key="FromName" value="BabyShop" />
  <add key="AdminEmail" value="demoaz.cntt@gmail.com" />
  <add key="CurrentLink" value="http://localhost:2472/" />

  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="48069" />
  <add key="MerchantPassword" value="45ba027fa62aaa2b912105d9285097c4" />
  <add key="MerchantEmail" value="nguyenvantri.cntt@gmail.com" />
</appSettings>